.hero {
  display: flex;
  flex-direction: column;
  padding: 10px 35px;

  .container {
    max-width: fit-content;
    position: relative;
    height: 125px;
    display: flex;
    align-items: flex-end;

    .revealContainer {
      position: absolute;
      height: 100%;
      background-color: #CCA43B;
      margin-right: auto;
      transform-origin: 0% 50%;
      width: 100%;
      left: 0;
      bottom: 0;
      transform: scaleX(0);
      transition: 0.25s;
      z-index: 1;
    }

    .name {
      font-size: 38px;
      color: #fff;
      padding: 20px 15px;
      opacity: 0;
      transition: 0.25s;
    }
  }
}